EP9NSOOB01#show run
Building configuration...

Current configuration : 13484 bytes
!
! Last configuration change at 01:03:12 PST Fri Apr 23 2021 by rsekhar
! NVRAM config last updated at 01:03:23 PST Fri Apr 23 2021 by rsekhar
!
version 15.0
no service pad
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
!
hostname EP9NSOOB01
!
boot-start-marker
boot-end-marker

!
interface GigabitEthernet1/1
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 1,32,33,38
 switchport mode trunk
!
interface GigabitEthernet1/2
!
interface GigabitEthernet1/3
!
interface GigabitEthernet1/4
!
interface TenGigabitEthernet1/1
!
interface TenGigabitEthernet1/2
!
interface Vlan1
 no ip address
!
interface Vlan26
 ip address 10.190.26.2 255.255.255.240
 no ip redirects
 ip ospf authentication message-digest
 ip ospf message-digest-key 26 md5 7 1446370446171F1176651E120F27
!
interface Vlan32
 ip address 10.190.32.2 255.255.255.0
 no ip redirects
 standby 0 ip 10.190.32.1
 standby 0 priority 110
 standby 0 preempt delay minimum 300
!
interface Vlan33
 ip address 10.190.33.21 255.255.255.0
 no ip redirects
 standby 0 ip 10.190.33.1
 standby 0 priority 110
 standby 0 preempt delay minimum 300
!
interface Vlan34
 ip address 10.190.34.2 255.255.255.0
 no ip redirects
 standby 0 ip 10.190.34.1
 standby 0 priority 110
 standby 0 preempt delay minimum 300
!
interface Vlan35
 ip address 10.190.35.2 255.255.255.0
 no ip redirects
 standby 0 ip 10.190.35.1
 standby 0 priority 110
 standby 0 preempt delay minimum 300
!
interface Vlan1000
 no ip address
!
router ospf 26
 log-adjacency-changes detail
 auto-cost reference-bandwidth 40000
 area 10.190.26.0 authentication message-digest
 passive-interface default
 no passive-interface Vlan26
 network 10.190.26.2 0.0.0.0 area 10.190.26.0
 network 10.190.32.2 0.0.0.0 area 10.190.26.0
 network 10.190.33.21 0.0.0.0 area 10.190.26.0
 network 10.190.34.2 0.0.0.0 area 10.190.26.0
 network 10.190.35.2 0.0.0.0 area 10.190.26.0
!
no ip http server
no ip http secure-server
!
!
ip access-list extended NTP
 permit udp host 10.190.39.11 any eq ntp
 permit udp host 10.190.39.12 any eq ntp
 deny   ip any any
ip access-list extended SNMP
 permit ip any any
!
logging esm config
logging facility local6
logging source-interface Vlan33
logging 10.190.36.61
logging 10.111.36.250
access-list 1361 permit 10.130.33.0 0.0.0.255
access-list 1361 permit 10.130.36.0 0.0.0.255
access-list 1361 permit 10.190.33.0 0.0.0.255
access-list 1361 permit 10.190.36.0 0.0.0.255
access-list 1361 permit 10.111.36.0 0.0.0.255
access-list 1361 permit 10.16.36.0 0.0.0.255
access-list 1361 permit 10.17.36.0 0.0.0.255
snmp-server group auth v3 priv notify *tv.FFFFFFFF.FFFFFFFF.FFFFFFFF.FFFFFFFF.FFFFFFFF7F 
snmp-server group monitoradmins v3 priv notify *tv.FFFFFFFF.FFFFFFFF.FFFFFFFF.FFFFFFFF.FFFFFFFF7F 
!snmp-server community ********
!snmp-server community ********
snmp-server trap-source Vlan33
snmp-server location EP9 - Santa Clara
snmp-server contact SaasOps@elliemae.com
snmp-server chassis-id EP9OOBSW01
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps transceiver all
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps license
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps cluster
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps dot1x auth-fail-vlan guest-vlan no-auth-fail-vlan no-guest-vlan
snmp-server enable traps energywise
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps event-manager
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps cpu threshold
snmp-server enable traps rep
snmp-server enable traps ipsla
snmp-server enable traps vstack
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps flash insertion removal
snmp-server enable traps port-security
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps stackwise
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps errdisable
snmp-server enable traps vlan-membership
!snmp-server host ********
!snmp-server host ********
!snmp-server host ********
!snmp-server host ********
snmp ifmib ifindex persist
!tacacs-server host ********
!tacacs-server host ********
tacacs-server directed-request
!
!
!
no vstack
privilege exec level 15 write terminal
privilege exec level 2 write memory
privilege exec level 15 write erase
privilege exec level 2 write
privilege exec level 2 show startup-config
privilege exec level 2 show running-config
privilege exec level 2 show logging
privilege exec level 2 show
!
line con 0
 logging synchronous
line vty 0 4
 logging synchronous
 length 0
 transport input ssh
line vty 5 15
 logging synchronous
 transport input ssh
!
ntp access-group peer NTP
ntp server 10.190.39.11 prefer
ntp server 10.190.39.12

switchport trunk allowed vlan 2,3,10,9
end


